<!DOCTYPE html>
<html>
  <head>
    <title>Start</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<%= link_to "home",root_path %> 
<%= link_to "about",welcome_about_path %>
<%= link_to "contact",welcome_contact_path %>
<%= link_to "features",welcome_features_path %>
<%= link_to "login",welcome_login_path %>
<%= link_to "Invoices",invoices_path %> 
    <%= yield %>
  </body>
</html>
