<!DOCTYPE html>
<html>
  <head>
    <title>Start</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to "home",root_path %></li> 
    <li><%= link_to "about",welcome_about_path %></li>
    <li><%= link_to "contact",welcome_contact_path %></li>
    <li><%= link_to "features",welcome_features_path %></li>
    <li><%= link_to "login",welcome_login_path %></li>
    <li><%= link_to "Invoices",invoices_path %></li>
  </ul>
    <%= yield %>
</div> 
 </body>
</html>
